<div class="container">
    <h3>Update Menu</h3>
    <form #addData="ngForm" (ngSubmit)="addData.form.valid && updateMenu(addData)">
        <div class="form-group">
            <label for="name">Name</label>
            <div *ngIf="(addData.submitted || name.invalid && name.touched) && name.errors" style="color: red;">
                <div *ngIf="name.errors['required']"><sup>*</sup>Name is required</div>
            </div>
            <input
            type="text"
            class="form-control"
            placeholder="Enter The Food Name"
            id="name"
            required
    
            ngModel
            name="name"
            #name="ngModel"
            [(ngModel)]="selectedMenu.name"
            [ngClass]="{'border-danger': (addData.submitted && name.errors?.['required'])}"
            />
    
            <label for="category">Category</label>
            <div *ngIf="(addData.submitted || category.invalid && category.touched) && category.errors" style="color: red;">
                <div *ngIf="category.errors['required']"><sup>*</sup>Category is required</div>
            </div>
            <select
            class="form-control"
            id="category"
            required
    
            ngModel
            name="category"
            #category="ngModel"
            [(ngModel)]="selectedMenu.category"
            [ngClass]="{'border-danger': (addData.submitted && category.errors?.['required'])}"
            >
            <option disabled selected value>Select Food Category</option>
            <option>Burger</option>
            <option>Pizza</option>
            <option>Fries</option>
            <option>Cake</option>
            <option>Soft-Drink</option>
            </select>
    
            <label for="listfood">Foods</label>
            <div *ngFor="let u of selectedMenu.foods">                    
                <div class="input-group">
                    <p class="form-control btn-outline-secondary" *ngFor="let f of foodlist.t | foodById:u.id">{{ f.category }} | {{ f.name }} ({{ f.type }})</p>
                    <a class="btn btn-outline-secondary" (click)="deleteFood(u)">Delete</a><br>
                </div><br>
            </div>

            <form #food="ngForm" (ngSubmit)="addFood(food)" class="input-group">
                <select
                class="form-control btn-outline-secondary"
                id="id"
        
                ngModel
                name="id"
                #id="ngModel"

                *ngIf="checkBranchManager"
                >
                <option value selected disabled hidden>Select Food</option>
                <option *ngFor="let f of foodlist.t | filterByBranch" value={{f.id}}>{{ f.category }} | {{ f.name }} ({{ f.type }})</option>
                </select>

                <select
                class="form-control btn-outline-secondary"
                id="id"
        
                ngModel
                name="id"
                #id="ngModel"

                *ngIf="checkAdmin"
                >
                <option value selected disabled hidden>Select Food</option>
                <option *ngFor="let f of foodlist.t" value={{f.id}}>{{ f.category }} | {{ f.name }} ({{ f.type }})</option>
                </select>                
                <button type="submit" class="btn btn-outline-secondary">Add</button>
            </form>

            <div *ngIf="checkAdmin">
                <label for="branch">Branch Id</label>
                <div *ngIf="(addData.submitted || branch.invalid && branch.touched) && branch.errors" style="color: red;" class="input-group">
                    <div *ngIf="branch.errors['required']"><sup>*</sup>Branch is required</div>
                </div>
                <select
                class="form-control"
                id="branch"
                required

                ngModel
                name="branch"
                #branch="ngModel"
                [(ngModel)]="selectedMenu.branch.id"
                [ngClass]="{'border-danger': (addData.submitted && branch.errors?.['required'])}"
                >
                <option disabled selected value>Select Branch</option>
                <option *ngFor="let b of branchlist.t" value={{b.id}}>{{ b.id }}. {{ b.name }}, {{ b.city }}</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
  