<div class="container">
    <h3>Branch Details</h3>
    <table class="table">
      <thead>
        <tr class="table-active">
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">City</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <!-- <th scope="col">Edit</th>
          <th scope="col">Delete</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let b of result.t">
          <th>{{b.id}}</th>
          <td>{{b.name}}</td>
          <td>{{b.city}}</td>
          <td>{{b.phone}}</td>
          <td>{{b.email}}</td>
          <!-- <td><button class="btn btn-primary" type="button" [routerLink]="['/edit-product/',p._id]">Edit</button></td>
          <td><button class="btn btn-secondary" type="button" (click)="deleteProduct(p._id)">Delete</button></td> -->
        </tr>
      </tbody>
    </table>
  </div>
  