<div class="container">
    <div class="row heading">
      <h3 class="col-md-12 col-lg-8">Food Details</h3>
      <input type="text" class="form-control rounded-pill shadow-sm col-md-12 col-lg-4" placeholder="Enter id of food to search..." [(ngModel)]="foodId" />
    </div>
    <br>

    <table class="table">
      <thead>
        <tr class="table-active">
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Type</th>
          <th scope="col">Price</th>
          <th scope="col">Availability</th>
          <th scope="col">Description</th>
          <th scope="col" *ngIf="checkAdmin">Branch</th>
          <th scope="col" class="text-center">Edit</th>
          <th scope="col" class="text-center">Change Availability</th>
        </tr>
      </thead>
      <tbody *ngIf="checkAdmin">
        <tr *ngFor="let b of foodList.t | findById:foodId">
          <th>{{ b.id }}</th>
          <td>{{ b.name }}</td>
          <td>{{ b.category }}</td>
          <td>{{ b.type }}</td>
          <td>{{ b.price }}</td>
          <td *ngIf=b.availability>Yes</td>
          <td *ngIf=!b.availability>No</td>
          <td>{{ b.description }}</td>
          <td>{{ b.branch.id }}</td>
          <td><button class="btn btn-primary btn-block rounded-pill text-uppercase mb-2 shadow-sm" type="button" [routerLink]="['/editfood/',b.id]">Edit</button></td>
          <td>
            <button class="btn btn-danger btn-block rounded-pill text-uppercase mb-2 shadow-sm" type="button" (click)="changeAvailability(b.id)" *ngIf=b.availability>No</button>
            <button class="btn btn-success btn-block rounded-pill text-uppercase mb-2 shadow-sm" type="button" (click)="changeAvailability(b.id)" *ngIf=!b.availability>Yes</button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="checkBranchManager">
        <tr *ngFor="let b of foodList.t | filterByBranch | findById:foodId">
          <th>{{ b.id }}</th>
          <td>{{ b.name }}</td>
          <td>{{ b.category }}</td>
          <td>{{ b.type }}</td>
          <td>{{ b.price }}</td>
          <td *ngIf=b.availability>Yes</td>
          <td *ngIf=!b.availability>No</td>
          <td>{{ b.description }}</td>
          <td><button class="btn btn-primary btn-block rounded-pill text-uppercase mb-2 shadow-sm" type="button" [routerLink]="['/editfood/',b.id]">Edit</button></td>
          <td>
            <button class="btn btn-danger btn-block rounded-pill text-uppercase mb-2 shadow-sm" type="button" (click)="changeAvailability(b.id)" *ngIf=b.availability>No</button>
            <button class="btn btn-success btn-block rounded-pill text-uppercase mb-2 shadow-sm" type="button" (click)="changeAvailability(b.id)" *ngIf=!b.availability>Yes</button>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
  