<div class="container">
    <h3>Update Food</h3>
    <form #addData="ngForm" (ngSubmit)="updateFood(addData)">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter The Food Name"
          id="name"
          required
  
          ngModel
          name="name"
          #name="ngModel"
          [(ngModel)]="selectedFood.name"
        />
  
        <label for="category">Category</label>
        <select
          class="form-control"
          id="category"
          required
  
          ngModel
          name="category"
          #category="ngModel"
          [(ngModel)]="selectedFood.category"
        >
          <option disabled selected value>Select Food Category</option>
          <option>Burger</option>
          <option>Pizza</option>
          <option>Fries</option>
          <option>Cake</option>
          <option>Soft-Drink</option>
        </select>
  
        <label for="type">Type</label>
        <select
          class="form-control"
          id="type"
          required
  
          ngModel
          name="type"
          #type="ngModel"
          [(ngModel)]="selectedFood.type"
        >
          <option disabled selected value>Select Food Type</option>
          <option>Veg</option>
          <option>Non-Veg</option>
        </select>
  
        <label for="price">Price</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter The Food Price"
          id="price"
          required
  
          ngModel
          name="price"
          #price="ngModel"
          [(ngModel)]="selectedFood.price"
        />

        <label for="availability">Availability</label>
        <select
          class="form-control"
          id="availability"
          required
  
          ngModel
          name="availability"
          #availability="ngModel"
          [(ngModel)]="selectedFood.availability"
        >
          <option disabled selected value>Select Food Availability</option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>

        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter The Food Description"
          id="description"
          required
  
          ngModel
          name="description"
          #description="ngModel"
          [(ngModel)]="selectedFood.description"
        />

        <label for="branch" *ngIf="checkAdmin">Branch Id</label>
        <select
          class="form-control"
          *ngIf="checkAdmin"
          id="branch"
          required

          ngModel
          name="branch"
          #branch="ngModel"
          [(ngModel)]="selectedFood.branch.id"
        >
          <option disabled selected value>Select Branch</option>
          <option *ngFor="let b of branchlist.t" value={{b.id}}>{{ b.id }}. {{ b.name }}, {{ b.city }}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
  