<div class="container">
    <div class="row heading">
      <h3 class="col-md-12 col-lg-8">Menu Details</h3>
      <input type="text" class="form-control rounded-pill shadow-sm col-md-12 col-lg-4" placeholder="Enter id of menu to search..." [(ngModel)]="menuId" />
    </div>
    <br>
    <table class="table">
      <thead>
        <tr class="table-active">
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col" *ngIf="checkAdmin">Branch</th>
          <th scope="col">Foods</th>
          <th scope="col" class="text-center">Edit</th>
          <th scope="col" class="text-center">Delete</th>
        </tr>
      </thead>
      <tbody *ngIf="!checkAdmin">
        <tr *ngFor="let b of menuList.t | filterByBranch | findById:menuId">
          <th>{{ b.id }}</th>
          <td>{{ b.name }}</td>
          <td>{{ b.category }}</td>
          <td>
            <table>
              <tr *ngFor="let f of b.foods">{{ f.id }}, {{ f.name }}</tr>
            </table>
          </td>
          <td><button class="btn btn-primary btn-block rounded-pill text-uppercase mb-2 shadow-sm" type="button" [routerLink]="['/editmenu/',b.id]">Edit</button></td>
          <td><button class="btn btn-secondary btn-block rounded-pill text-uppercase mb-2 shadow-sm" type="button" (click)="deleteMenu(b.id)">Delete</button></td>
        </tr>
      </tbody>

      <tbody *ngIf="checkAdmin">
        <tr *ngFor="let b of menuList.t | findById:menuId">
          <th>{{ b.id }}</th>
          <td>{{ b.name }}</td>
          <td>{{ b.category }}</td>
          <td>{{ b.branch.id }}</td>
          <td>
            <table>
              <tr *ngFor="let f of b.foods">{{ f.id }}, {{ f.name }}</tr>
            </table>
          </td>
          <td><button class="btn btn-primary btn-block rounded-pill text-uppercase mb-2 shadow-sm" type="button" [routerLink]="['/editmenu/',b.id]">Edit</button></td>
          <td><button class="btn btn-secondary btn-block rounded-pill text-uppercase mb-2 shadow-sm" type="button" (click)="deleteMenu(b.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
</div>
  