<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Food-App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="adduser" *ngIf="!isLoggedIn()">Register <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="loginuser" *ngIf="!isLoggedIn()">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" *ngIf="isLoggedIn()" role="button" (click)="logOut()">Logout <span class="sr-only">(current)</span></a>
      </li> -->
      
      <!-- Admin Services -->
      <li class="nav-item dropdown" *ngIf="isAdmin()">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          List Service
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="userlist">User List</a>
          <a class="dropdown-item" routerLink="branchlist">Branch List</a>
          <a class="dropdown-item" routerLink="foodlist">Food List</a>
          <a class="dropdown-item" routerLink="menulist">Menu List</a>
          <a class="dropdown-item" routerLink="orderlist">FoodOrder List</a>
          <a class="dropdown-item" routerLink="managerlist">Manager List</a>
          <a class="dropdown-item" routerLink="branchmanagerlist">Manager by Branch List</a>
        </div>
      </li>

      <li class="nav-item dropdown" *ngIf="isAdmin()">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Add Service
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="adduser">Add User</a>
          <a class="dropdown-item" routerLink="addbranch">Add Branch</a>
          <a class="dropdown-item" routerLink="addfood">Add Food</a>
          <a class="dropdown-item" routerLink="addmenu">Add Menu</a>
        </div>
      </li>

      <!-- Branch Manager Services -->
      <li class="nav-item dropdown" *ngIf="isBranchManager()">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          List Service
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="userlist">Staff List</a>
          <a class="dropdown-item" routerLink="foodlist">Food List</a>
          <a class="dropdown-item" routerLink="menulist">Menu List</a>
          <a class="dropdown-item" routerLink="orderlist">FoodOrder List</a>
        </div>
      </li>

      <li class="nav-item dropdown" *ngIf="isBranchManager()">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Add Service
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="adduser">Add Staff</a>
          <a class="dropdown-item" routerLink="addfood">Add Food</a>
          <a class="dropdown-item" routerLink="addmenu">Add Menu</a>
        </div>
      </li>

      <!-- Staff Services -->
      <li class="nav-item dropdown" *ngIf="isStaff()">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Staff Options
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" *ngIf="isLoggedIn()" routerLink="branchlist">Branch List</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" *ngIf="isLoggedIn()" routerLink="addorder">Add Food Order</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button *ngIf="isLoggedIn()" class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="logOut()">Log Out</button>
    </form>
    <form class="form-inline my-2 my-lg-0">
      <button *ngIf="!isLoggedIn()" class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="loginuser">Login</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>