<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Food-App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" *ngIf="isLoggedIn()">
      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="adduser" *ngIf="!isLoggedIn()">Register <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="loginuser" *ngIf="!isLoggedIn()">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" *ngIf="isLoggedIn()" role="button" (click)="logOut()">Logout <span class="sr-only">(current)</span></a>
      </li> -->
      <li class="nav-item dropdown" *ngIf="!isStaff()">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false" *ngIf="isAdmin()">
          User
        </a>
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false" *ngIf="isBranchManager()">
          Staff
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="adduser" *ngIf="isAdmin()">Add User</a>
          <a class="dropdown-item" routerLink="userlist" *ngIf="isAdmin()">User List</a>
          <a class="dropdown-item" routerLink="adduser" *ngIf="isBranchManager()">Add Staff</a>
          <a class="dropdown-item" routerLink="userlist" *ngIf="isBranchManager()">Staff List</a>
        </div>
      </li>

      <li class="nav-item dropdown" *ngIf="isAdmin()">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Branch
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="addbranch">Add Branch</a>
          <a class="dropdown-item" routerLink="branchlist">Branch List</a>
        </div>
      </li>

      <li class="nav-item dropdown" *ngIf="!isStaff()">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Food
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="addfood">Add Food</a>
          <a class="dropdown-item" routerLink="foodlist">Food List</a>
        </div>
      </li>

      <li class="nav-item dropdown" *ngIf="!isStaff()">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="addmenu">Add Menu</a>
          <a class="dropdown-item" routerLink="menulist">Menu List</a>
          <a class="dropdown-item" routerLink="menu">Menu</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
          Food Order
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="addorder">Add Food Order</a>
          <a class="dropdown-item" routerLink="orderlist">Food Order List</a>
        </div>
      </li>

      

      <!-- <li class="nav-item" *ngIf="isStaff()">
        <a class="nav-link" routerLink="menu">Menu</a>
      </li>
      <li class="nav-item" *ngIf="isStaff()">
        <a class="nav-link" routerLink="orderlist">Food Order List</a>
      </li>
      <li class="nav-item" *ngIf="isStaff()">
        <a class="nav-link" routerLink="addorder">Add Food Order</a>
      </li> -->
    </ul>
    
    <form class="form-inline my-2 my-lg-0 ml-auto">
      <!-- <a class="nav-link" *ngIf="isLoggedIn()">Hi, {{getUserName()}}</a> -->
      <button *ngIf="isLoggedIn()" class="btn btn-outline-danger my-2 my-sm-0 rounded-pill shadow-sm" type="submit" (click)="logOut()">Log Out</button>
      <button *ngIf="!isLoggedIn()" class="btn btn-outline-success my-2 my-sm-0 rounded-pill shadow-sm" type="submit" routerLink="loginuser">Login</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>