<div class="container">
    <h3>Food Order Details</h3>
    <table class="table">
      <thead>
        <tr class="table-active">
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Date</th>
          <th scope="col" *ngIf="checkAdmin">Branch</th>
          <th>
            <table class="col">
              <tr class="row justify-content-center">Foods</tr>
              <tr class="row">
                <div class="col-8 food-row">Name</div>
                <div class="col-4 food-row">Quantity</div>
              </tr>
            </table>
          </th>
          <th scope="col">Price</th>
          <th scope="col">Edit</th>
          <th scope="col">Bill</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody *ngIf="!checkAdmin">
        <tr *ngFor="let b of orderList.t | filterByBranch">
          <th>{{ b.id }}</th>
          <td>{{ b.name }}</td>
          <td>{{ b.phone }}</td>
          <td>
            <table>
              <tr class="row">
                <div class="col-12">{{ b.date | date:'shortDate' }}</div>
              </tr>
              <tr class="row">
                <div class="col-12">{{ b.date | date:'shortTime' }}</div>
              </tr>
            </table>
          </td>
          <td>
            <tr *ngFor="let f of b.foods | orderPipe" class="row">
              <div class="col-10">{{ f.name }}</div>
              <div class="col-2">{{ f.quantity }}</div>
            </tr>
          </td>
          <td>{{ b.price }}</td>
          <td><button class="btn btn-primary" type="button" [routerLink]="['/editorder/',b.id]">Edit</button></td>
          <td><button class="btn btn-success" type="button" [routerLink]="['/bill/',b.id]">Bill</button></td>
          <td><button class="btn btn-secondary" type="button" (click)="deleteFoodOrder(b.id)">Delete</button></td>
        </tr>
      </tbody>

      <tbody *ngIf="checkAdmin">
        <tr *ngFor="let b of orderList.t">
          <th>{{ b.id }}</th>
          <td>{{ b.name }}</td>
          <td>{{ b.phone }}</td>
          <td>
            <table>
              <tr class="row">
                <div class="col-12">{{ b.date | date:'shortDate' }}</div>
              </tr>
              <tr class="row">
                <div class="col-12">{{ b.date | date:'shortTime' }}</div>
              </tr>
            </table>
          </td>
          <td>{{ b.branch.id }}</td>
          <td>
            <tr *ngFor="let f of b.foods | orderPipe" class="row">
              <div class="col-10">{{ f.name }}</div>
              <div class="col-2">{{ f.quantity }}</div>
            </tr>
          </td>
          <td>{{ b.price }}</td>
          <td><button class="btn btn-primary" type="button" [routerLink]="['/editorder/',b.id]">Edit</button></td>
          <td><button class="btn btn-success" type="button" [routerLink]="['/bill/',b.id]">Bill</button></td>
          <td><button class="btn btn-secondary" type="button" (click)="deleteFoodOrder(b.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
</div>
  