.form-group input.ng-invalid.ng-touched, 
.form-group input.ng-invalid:focus, 
.form-group select.ng-invalid.ng-touched, 
.form-group textarea.ng-invalid.ng-touched,
.form-submit input.ng-invalid,
.form-submit select.ng-invalid,
.form-submit  textarea.ng-invalid
{
    border-color: red;
}

.form-group input.ng-valid.ng-touched,
.form-group input.ng-valid:focus,
.form-group select.ng-valid.ng-touched,
.form-group textarea.ng-valid.ng-touched,
.form-submit input.ng-valid,
.form-submit select.ng-valid,
.form-submit textarea.ng-valid {
    border-color: green;
}

.invalid-feedback.form-error {
    display: block;
}

.heading {
    padding-top: 40px;
}

label {
    padding-top: 15px;
}