<div class="container">
  <div class="row heading">
    <h3 class="col-md-12 col-lg-8">Branch Details</h3>
    <input type="text" class="form-control rounded-pill shadow-sm col-md-12 col-lg-4" placeholder="Enter id of branch to search..." [(ngModel)]="branchId" />
  </div>
  <br>

  <table class="table">
    <thead>
      <tr class="table-active">
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">City</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col" class="text-center">Edit</th>
        <!-- <th scope="col">Delete</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let b of branchList.t | findById:branchId">
        <th>{{ b.id }}</th>
        <td>{{ b.name }}</td>
        <td>{{ b.city }}</td>
        <td>{{ b.phone }}</td>
        <td>{{ b.email }}</td>
        <td><button class="btn btn-primary btn-block rounded-pill text-uppercase mb-2 shadow-sm" type="button" [routerLink]="['/editbranch/',b.id]">Edit</button></td>
        <!-- <td><button class="btn btn-secondary" type="button" (click)="deleteBranch(b.id)" disabled>Delete</button></td> -->
      </tr>
    </tbody>
  </table>
</div>
